/data/*
*.pkl
*.h5
/logs/*
/models/*
/Data/*
/Data/*

Notebooks/test/test/fix_crs/*
Notebooks/test/test/patches/*


/temp/*
temp_map
src/temp
src/temp_map

.vscode/
.idea/

.vscode

src/App/img_backup

src/App/temp/*
